.carousel-item {

  transition: transform 0.3s ease;
}

.carousel-item:hover {
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}

html, body {
  -webkit-text-size-adjust: none; /* or auto */
}

@media screen and (max-width: 600px) {
  html, body {
    -webkit-text-size-adjust: none; /* or auto */
  }
}

h1, h2, h3, p {
  -webkit-text-size-adjust: none;
}
@import url('https://fonts.googleapis.com/css2?family=Hangover&display=swap');
